<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>App</title>
  <base href='/'>
</head>
<body>
<div class="row" style="background-color: #eee;">
  <p style="margin-left: 5px;margin-top: 5px;margin-bottom: 5px;">De : <b>{{{ parsed.from.html }}}</b></p>
  <p style="margin-left: 5px;margin-top: 5px;margin-bottom: 5px;">Pour : <b>{{{ parsed.to.html }}}</b></p>
  {{#if parsed.cc}}
    <p style="margin-left: 5px;margin-top: 5px;margin-bottom: 5px;">Cc : <b>{{{ parsed.cc.html }}}</b></p>
  {{/if}}
  <p style="margin-left: 5px;margin-top: 5px; margin-bottom: 5px;">Date : <b>{{ parsed.date }}</b></p>
  <p style="margin-left: 5px;margin-top: 5px;margin-bottom: 5px;">Sujet : <b>{{ parsed.subject }}</b></p>
  {{#if attachments.length}}
    <p style="margin-left: 5px;margin-top: 5px;margin-bottom: 5px;">Pièces jointes : {{#each attachments}}
      <a download="{{fname}}" href='data:application/stream;base64,{{content}}'>{{fname}}</a>
    {{/each}}</p>
  {{/if}}
</div>
{{#if parsed.html }}
  {{{ parsed.html }}}
{{else}}
  {{{ parsed.textAsHtml }}}
{{/if}}
<!--suppress ES6ConvertVarToLetConst -->
<script>
  window.parent.postMessage({
    type: 'iframeInfo',
    scrollHeight: document.documentElement.scrollHeight + 20,
  }, '*')
</script>
</body>
</html>
